@import 'theme/colours';

.nav {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav-anchor {
  color: $nav-anchor-color;
  text-decoration: none;

  a {
    font-family: $general-font;

    // :hover {
    //   background: $anchor-hover;
    //   text-decoration: none;
    //   transition: .5s;
    // }
  }
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.nav-item {
  box-sizing: border-box;
  display: flex;
  display: inline-block;
  flex: 1;
  line-height: 24px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 20%;
}
