@import './theme/colours';
@import './theme/typography';

.skills-box {
  border-radius: 6px;
  flex: 1;
  font-family: $general-font;
  font-size: 1em;
  font-weight: 200;
  line-height: 30px;
  padding-left: 35px;

  h2 {
    font-size: 20px;
  }
}
