@import './theme/colours';
@import './theme/typography';

.project-wrapper {
  flex: 1;
  box-shadow: 0 2px 5px $header-shadow-color;
  font-family: $general-font;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.project-title {
  font-size: 1.7em;
  font-weight: bold;
  padding-top: 25px;
  text-align: center;
}

.project-snippet {
  font-size: .9em;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.project-image {
  align-self: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.project-summary {
  display: block;
  font-size: .9em;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  width: 50%;
}

.project-link {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  text-align: center;

  a {
    color: $nav-anchor-color;
    font-size: .8em;
    text-decoration: none;
  }

  :hover {
    background-color: $anchor-hover;
    color: white;
  }
}
