@import './theme/colours';

.blog-post-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 0.25rem;
  border-bottom: 2px solid #EEE;
  font-family: $general-font;
}

.blog-post-preview:last-child {
  border-bottom-width: 0;
}

.blog-post-preview .title, .blog-post-preview .date, .blog-post-preview {
  font-family: $general-font;
  margin: 0 auto;

  a {
    color: $nav-anchor-color;
    text-decoration: none;
  }

  :hover {
    color: $nav-anchor-color-hover;
  }

  .link {
    align-self: flex-start;
  }
}

.blog-post-preview .date {
  color: $nav-anchor-color;
  font-size: 1.3em;
  margin-bottom: 1rem;
}

// .bpp-link {
//   align-self: flex-end;
// }
