// Colors
$background-color: #fafafa;
$anchor-hover: rgba(0, 0, 0, .3);
$text-color: #333;
$browser-upgrade: #ccc;
$browser-upgrade-text: #000;
$nav-anchor-color: #616161;
$nav-anchor-color-hover: #212121;

// Fonts
$general-font: 'Ubuntu', sans-serif;
