@import 'components/all';
@import 'pages/all';
@import 'templates/all';
@import 'theme/all';

// General styling

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background: $background-color;
  color: $text-color;
  font-family: $general-font;
}

a {
  background: $background-color;
  color: $nav-anchor-color;
  color: $text-color;
  // font-family: $general-font;
  text-decoration: none;
  transition: .5s;

  :hover {
    background: $anchor-hover;
  }
}


.browserupgrade {
  background: $browser-upgrade;
  color: $browser-upgrade-text;
  margin: .2em 0;
  padding: .2em 0;
}
