$anchor-hover: rgba(0, 0, 0, .3);

$background-color: #fafafa;

$browser-upgrade: #ccc;
$browser-upgrade-text: #000;

$header-shadow-color: rgba(0, 0, 0, .26);

$nav-anchor-color: #616161;
$nav-anchor-color-hover: #212121;

$text-color: #333;
$title-text-color: #212121;
