// ubuntu-condensed-regular - latin
@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/ubuntu-condensed-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Condensed'), local('UbuntuCondensed-Regular'),
       url('../../assets/fonts/ubuntu-condensed-v7-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
       url('../../assets/fonts/ubuntu-condensed-v7-latin-regular.woff2') format('woff2'), // Super Modern Browsers
       url('../../assets/fonts/ubuntu-condensed-v7-latin-regular.woff') format('woff'), // Modern Browsers
       url('../../assets/fonts/ubuntu-condensed-v7-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
       url('../../assets/fonts/ubuntu-condensed-v7-latin-regular.svg#UbuntuCondensed') format('svg'); // Legacy iOS
}

// vt323-regular - latin
@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/vt323-v8-latin-regular.eot'); // IE9 Compat Modes
  src: local('VT323 Regular'), local('VT323-Regular'),
       url('../../assets/fonts/vt323-v8-latin-regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
       url('../../assets/fonts/vt323-v8-latin-regular.woff2') format('woff2'), // Super Modern Browsers
       url('../../assets/fonts/vt323-v8-latin-regular.woff') format('woff'), // Modern Browsers
       url('../../assets/fonts/vt323-v8-latin-regular.ttf') format('truetype'), // Safari, Android, iOS
       url('../../assets/fonts/vt323-v8-latin-regular.svg#VT323') format('svg'); // Legacy iOS
}

// Font variables
$title-font: 'VT323', monospace;
$general-font: 'Ubuntu', sans-serif;
